/* You can add global styles to this file, and also import other style files */

*,
*::before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}


html {
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 14%);
    font-family: system-ui, sans-serif;
    font-size: clamp(14px, 2vw, 18px);
    line-height: 1.5;
    min-height: 100%;

}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100svh;
}